# Rust
rust/target/

# JVM
jvm/build/
jvm/.gradle/
jvm/local.properties

# JavaScript
js/node_modules/
js/dist/

# Python
py/.venv

# PHP
php/vendor/
php/.phpunit.cache/

# C# / .NET
csharp/bin/
csharp/obj/
csharp/**/bin/
csharp/**/obj/
